{% extends 'index.html' %}

{% load static %}

{% block content %}

	<div class="row">
		<div class="col-lg-4">
			<div class="box-element product" > 
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				<a class="btn btn-outline -seccuess "href="{% url 'bal' %}">View store</a>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>
		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>
				
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element product">
                <img class ="thumbnail"src="{% static 'images/products.png'%}">
                <h6><strong>product</strong></h6>
                <hr>

			</div>
		</div>

	</div>

{% endblock content %}